/* Container */
#mousetip-container {
  position: fixed;
  z-index: 55555;
  bottom: 10px;
  right: 10px;
  width: 300px;
}

/* Tip */
.mousetip {
  border-radius: 4px;
  opacity: 0.8;
  background-color: #EFEFEF;
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  right: -310px;
}
.mousetip:hover {
  box-shadow: 0px 0px 5px;
  cursor: pointer;
}
.mousetip h4, .mousetip p {
  margin: 0;
  padding: 0 10px;
}
.mousetip hr {
  margin: 2px 10px;
}
.mousetip h4 span.matched {
  text-shadow: 0px 0px 2px #1e1e1e;
}

/* Transition effects */
.mousetip-show {
  -webkit-transition: all 150ms cubic-bezier(0.175, 0.885, 0.320, 1);
  -webkit-transition: all 150ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -moz-transition: all 150ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
      -ms-transition: all 150ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
       -o-transition: all 150ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
          transition: all 150ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.mousetip-hide {
  -webkit-transition: all 150ms cubic-bezier(0.600, 0, 0.735, 0.045);
  -webkit-transition: all 150ms cubic-bezier(0.600, -0.280, 0.735, 0.045); 
     -moz-transition: all 150ms cubic-bezier(0.600, -0.280, 0.735, 0.045); 
      -ms-transition: all 150ms cubic-bezier(0.600, -0.280, 0.735, 0.045); 
       -o-transition: all 150ms cubic-bezier(0.600, -0.280, 0.735, 0.045); 
          transition: all 150ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

/* Transition classes */
.mousetip-transition-in {
  right: 0;
}
.mousetip-transition-out {
  right: -310px;
}